// Import variables (overrides Bootstrap defaults)
@import "base/variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import base styles
@import "base/page.scss";

// Import components styles
@import "components/divider.scss";
@import "components/buttons.scss";

// Import layout styles
@import "layout/navbar.scss";
@import "layout/masthead.scss";
@import "layout/portfolio.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";

.customcss {
    background-color: rgb(0, 0, 0);
}

.customcss1 {
    background-color: black;
}

.customcss2{
    width : 1020px;
    background-size: contain;
    margin-bottom: 20PX;
}